includes:
    - vendor/larastan/larastan/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    paths:
        - app/
        - database/
        - resources/
        - routes/

    level: 5
